{% extends 'partials/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                <span></span> Tus pedidos
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Número de pedido: #{{order.order_id}}</h4>
                                    <a href="{% url 'customer:order_detail' order.order_id %}" class="btn btn-sm btn-primary mb-3"><i class="fas fa-arrow-left"></i> Volver</a>
                                    {% for item in order.order_items.all %}
                                        <div class="row mb-4">
                                            <div class="col-md-6">
                                                <div class="d-flex align-items-center">
                                                    <img src="{{item.product.image.url}}" alt="" width="75" class="img-fluid rounded">
                                                    <div class="ms-3">
                                                        <p class="mb-2"><strong>{{item.product.name}}</strong></p>
                                                        <p class="mb-2">Vendor: {{item.product.vendor.profile.full_name}}</p>
                                                        {% if item.color %}
                                                            <p class="mb-2">Color: {{item.color}}</p>
                                                        {% endif %}
                                                        {% if item.size %}
                                                            <p class="mb-2">Size: {{item.size}}</p>
                                                        {% endif %}
                                                        <p class="mb-0">S/. {{item.price}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mb-2">Status:
                                                    {% if order.order_status == 'Pending' %}
                                                        <span class="badge bg-warning text-dark">Pending</span>
                                                    {% elif order.order_status == 'Fullfiled' %}
                                                        <span class="badge bg-success text-dark">Delivered</span>
                                                    {% elif order.order_status == 'Cancelled' %}
                                                        <span class="badge bg-danger text-dark">Cancelled</span>
                                                    {% elif order.order_status == 'Shipped' %}
                                                        <span class="badge bg-info text-dark">Shipped</span>
                                                    {% elif order.order_status == 'Processing' %}
                                                        <span class="badge bg-secondary text-dark">Processing</span>
                                                    {% endif %}
                                                </p>
                                                <p class="mb-2">Payment Status:
                                                    {% if order.payment_status == 'Paid' %}
                                                        <span class="badge bg-success text-dark">Paid</span>
                                                    {% elif order.payment_status == 'Processing' %}
                                                        <span class="badge bg-info text-dark">Processing</span>
                                                    {% elif order.payment_status == 'Failed' %}
                                                        <span class="badge bg-danger text-dark">Failed</span>
                                                    {% endif %}
                                                </p>
                                                <p class="mb-2">Order Date: {{order.date}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div></div>
                                            <div><strong>Total: S/. {{order.total|floatformat:2}}</strong></div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-0">Payment Method: {{order.payment_method}}</p>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="card mt-4">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <h5>Seguimiento del Pedido</h5>
                                        <hr>
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <strong>ID de Seguimiento:</strong> <span id="trackingId">{{item.tracking_id|default:"No agregado"}}</span>
                                                <i class="far fa-copy ms-2 copy-icon" style="cursor: pointer;" onclick="copyTrackingId()"></i>
                                                <i class="fas fa-check-circle ms-2 text-success check-icon" style="display: none;"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <strong>Servicio de Envío:</strong> {{item.shipping_service|default:"No agregado"}}
                                        </div>
                                        
                                        {% if item.shipping_service == "DHL" %}
                                            <a target="_blank" class="btn btn-primary mt-2" href="http://www.dhl.com/global-en/home/tracking.html?.tracking-id={{item.tracking_id}}">
                                                Seguir Pedido <i class="fas fa-truck"></i>
                                            </a>
                                        {% endif %}

                                        {% if item.shipping_service == "GIG Logistics" %}
                                            <a target="_blank" class="btn btn-primary mt-2" href="https://www.giglogistics.com/track/{{item.tracking_id}}">
                                                Seguir Pedido <i class="fas fa-truck"></i>
                                            </a>
                                        {% endif %}

                                        {% if item.shipping_service == "FedEx" %}
                                            <a target="_blank" class="btn btn-primary mt-2" href="https://www.fedex.com/fedextrack/?tracknumbers={{item.tracking_id}}">
                                                Seguir Pedido <i class="fas fa-truck"></i>
                                            </a>
                                        {% endif %}

                                        {% if item.shipping_service == "UPS" %}
                                            <a target="_blank" class="btn btn-primary mt-2" href="https://www.ups.com/track?tracknum={{item.tracking_id}}">
                                                Seguir Pedido <i class="fas fa-truck"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function copyTrackingId() {
            const trackingIdElement = document.getElementById('trackingId');
            const trackingIdText = trackingIdElement.innerText;
            const copyIcon = document.querySelector('.copy-icon');
            const checkIcon = document.querySelector('.check-icon');

            navigator.clipboard.writeText(trackingIdText)
                .then(() => {
                    copyIcon.style.display = 'none';
                    checkIcon.style.display = 'inline-block';
                    Swal.fire({
                        toast: true,
                        icon: 'success',
                        position: "top",
                        timerProgressBar: true,
                        title: 'ID de seguimiento copiado!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    setTimeout(() => {
                        copyIcon.style.display = 'inline-block';
                        checkIcon.style.display = 'none';
                    }, 2000);
                })
                .catch(err => {
                    console.error('Error al copiar el texto: ', err);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al copiar',
                        text: 'No se pudo copiar el ID de seguimiento.',
                    });
                });
        }
    </script>
{% endblock content %}