{% extends 'partials/base.html' %}
{% block title %}Restablecer contraseña - {{ settings.store_name }}{% endblock %}
{% load static %}
{% block content %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'store:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                <span></span> Restablecer
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-12 m-auto">
                    <div class="row">
                        <div class="heading_s1">
                            <img class="border-radius-15" src="{% static 'assets/imgs/page/reset_password.svg' %}" alt="" />
                            <h2 class="mb-15 mt-15">Restablecer contraseña</h2>
                            <p class="mb-30">Crea una nueva contraseña que no uses en ningún otro sitio.</p>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    {% if messages %}
                                    <div class="alert alert-info">
                                        {% for message in messages %}
                                            <p>{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}

                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }} 
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-heading btn-block hover-up">Restablecer Contraseña</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 pl-50">
                            <h6 class="mb-15">La contraseña debe:</h6>
                            <p>Tener entre 9 y 64 caracteres</p>
                            <p>Incluir al menos dos de los siguientes:</p>
                            <ol class="list-insider">
                                <li>Una letra mayúscula</li>
                                <li>Una letra minúscula</li>
                                <li>Un número</li>
                                <li>Un carácter especial</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
