{% extends 'partials/base.html' %}
{% load humanize %}
{% load static %}
{% block content %} 
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                <span></span> Pagar
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Pagar</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mb-50">
                    <div class="col-lg-8">
                        <form method="post" action="{% url 'store:coupon_apply' order.order_id %}" class="apply-coupon">
                            {% csrf_token %}
                            <input type="text" name="coupon_code" placeholder="Ingresa un código de cupón...">
                            <button type="submit" class="btn btn-md btn-small">Aplicar cupón</button>
                        </form>
                    </div>                    
                </div>
                <div class="row">
                            <div class="col-lg-12">
                                <div class="calculate-shiping">
                                    <h4 class="mb-2">Dirección de envío</h4>
                                    <div class="form-row row">
                                        <div class="form-group col-lg-12">
                                            <input required="required" value="{{ order.address.full_name }}" placeholder="Nombres" name="full_name" type="text">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input required="required" value="{{ order.address.email }}" placeholder="Email" name="email" type="text">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input required="required" value="{{ order.address.mobile }}" placeholder="Teléfono" name="mobile" type="text">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input required="required" value="{{ order.address.address }}" placeholder="Dirección" name="address" type="text">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input required="required" value="{{ order.address.city }}" placeholder="Ciudad" name="city" type="text">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input required="required" value="{{ order.address.state }}" placeholder="Provincia" name="state" type="text">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input required="required" value="{{ order.address.country }}" placeholder="País" name="country" type="text">
                                        </div>
                                        <a href="{% url 'store:cart' %}">Editar dirección <i class="fas fa-edit"></i> </a>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border p-40 cart-totals ml-30 mb-50">
                    <div class="d-flex align-items-end justify-content-between mb-30">
                        <h4>Tu pedido</h4>
                    </div>
                    <div class="divider-2 mb-30"></div>
                    <div class="table-responsive order_table checkout">
                        <table class="table no-border">
                            <tbody>
                                {% for item in order.order_items.all %}
                                    <tr>
                                        <td class="image product-thumbnail">
                                            <img style="width: 120px; height: 120px;" src="{{item.product.image.url}}" alt="{{item.product.name}}">
                                        </td>
                                        <td>
                                            <span> 
                                                <h6 class="w-160 mb-5">
                                                    <a href="javascript:;" class="text-heading">{{item.product.name}}</a>
                                                    <p class="text-heading">by: {{item.product.vendor.profile.full_name}}</p>
                                                    <p class="text-heading">precio: s/. {{item.price}}</p>
                                                </h6>
                                            </span>
                                        </td>
                                        <td>
                                            <h6 class="text-muted pl-20 pr-20">x {{item.qty}}</h6>
                                        </td>
                                        <td>
                                            <h4 class="text-brand">
                                                <a href="{% url 'store:cart' %}" class="btn btn-sm font-sm rounded btn-brand"> 
                                                    <i class="fas fa-edit"></i> 
                                                </a>
                                            </h4>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="border p-md-4 cart-totals ml-30  mb-50">
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Subtotal</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end">S/. <span class="cart_sub_total">{{ order.sub_total|floatformat:2 }}</span></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Envío</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-end">S/. {{order.shipping|floatformat:2}}</h4>
                                    </td> </tr> <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Tarifa de servicio</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-end">S/. {{order.service_fee|floatformat:2}}</h4>
                                    </td> </tr> <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">IGV</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-end">S/. {{order.tax|floatformat:2}}</h4>
                                    </td> </tr> <tr>
                                    
                                    {% if order.saved %}
                                        <td class="cart_total_label">
                                            <h6 class="text-muted">Descuento</h6>
                                        </td>
                                        <td class="cart_total_amount">
                                            <h5 class="text-heading text-end">S/. {{order.saved|floatformat:2}}</h4>
                                        </td> </tr> <tr>
                                        
                                        {% for coupon in order.coupons.all %}
                                            <small class="text-success fw-bold">{{coupon.code}} aplicado!</small>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Total</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end">S/. <span class="cart_sub_total">{{ order.total|floatformat:2 }}</span></h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="payment col-lg-5 mt-10">
                    <h4 class="mb-30">Métodos de pago</h4>
                    <div>
                        <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
                            <input type="hidden" name="public_key" value="{{flutterwavee_public_key}}">
                            <input type="hidden" name="customer[email]" value="{{order.address.email}}">
                            <input type="hidden" name="customer[name]" value="{{order.address.full_name}}">
                            <input type="hidden" name="tx_ref" value="{{order.order_id}}">
                            <input type="hidden" name="amount" value="{{order_total_paypal}}">
                            <input type="hidden" name="currency" value="USD">
                            <input type="hidden" name="redirect_url" value="https://f7c8-190-235-170-190.ngrok-free.app/flutterwave_payment_callback/{{order.order_id}}/?payment_method=Flutterwave">
                            <input type="hidden" name="meta[source]" value="docs-html-test">
                            <button type="submit" id="start-payment-button" class="btn btn-primary text-white w-100 mb-3">
                                <img style="width: 150px; height: 30px; object-fit: contain;" src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Flutterwave_Logo.png" alt="">
                            </button>
                        </form>
                        <button type="button" id="paystack-payment" onclick="payWithPaystack()" class="btn btn-primary text-white w-100 mb-3">
                            <img style="width: 150px; height: 30px; object-fit: contain;" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Paystack_Logo.png" alt="">
                        </button>
                        <button type="submit" id="stripe-paymnet" class="btn btn-primary text-white w-100 mb-3">Pagar con stripe <i class="fa-brands fa-stripe-s"></i></button>
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://checkout.flutterwave.com/v3.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&currency=USD"></script>
<script src="https://js.stripe.com/v3"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
    var stripe = Stripe("{{stripe_public_key}}");
    var checkoutButton = document.getElementById("stripe-paymnet");
    try {
        checkoutButton.addEventListener("click", function() {
            var email = "{{order.address.email}}";
            checkoutButton.innerHTML = "Procesando <i class='fa-solid fa-spinner fa-spin'></i>";
            fetch("/stripe_payment/{{order.order_id}}/", {
                method: "POST",
                body: JSON.stringify({email: email}),
            })
                .then(function (response) {
                    console.log(response);                    
                    console.log(stripe);  
                    return response.json();                  
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({sessionId: session.sessionId});
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.log("Error: ", error);
                });
        });
    } catch (error) {
        console.log(error);
    }
</script>
<script>
    function initPaypalButton() {
        paypal
            .Buttons({
                style: {
                    color:  'blue',
                    shape:  'pill',
                    label:  'pay',
                    height: 40
                },
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                currency_code: 'USD',
                                value: '{{ order_total_paypal }}'  
                            }
                        }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function (orderData) {
                        console.log("Capture result", orderData, JSON.stringify(orderData, null, 2));
                        const element = document.getElementById("paypal-button-container");
                        element.innerHTML = "";
                        element.innerHTML = "<h5>Verificando pago ...</h5>";
                        window.location.href = `/paypal_payment_verify/{{order.order_id}}/?transaction_id=${orderData.id}`
                    });
                },
                onError: function(err) {
                    console.log(err);
                },
            })
            .render("#paypal-button-container");
    }
    initPaypalButton();
</script>
<script>
    function payWithPaystack() {
        var handler = PaystackPop.setup({
            key: "{{paystack_public_key}}",
            email: "{{order.address.email}}",
            amount: "{{amount_in_kobo}}",
            currency: "NGN",
            ref: "" + Math.floor(Math.random() * 1000000000 + 1), 
            callback: function (response) {
                window.location.href = "/paystack_payment_verify/{{order.order_id}}/?reference=" + response.reference + "&payment_method=Paystack"
            },
            onClose: function () {
                alert("Ventana de pago cerrada");
            },
        });
        handler.openIframe();
    }
</script>
{% endblock content %}