{% extends 'partials/base.html' %}
{% load static %}

{% block content %} 
<style>
    .product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    display: block; /* Para aplicar correctamente el truncado */
}
</style>
<main class="main">
    <section class="home-slider position-relative mb-30">
        <div class="container">
            <div class="home-slide-cover mt-30">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    {% for slider in sliders %}
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url({{ slider.image.url }})">
                            <div class="slider-content">
                                <h1 class="display-2 mb-40">
                                    {{ slider.title }}
                                </h1>
                                <p class="mb-65">{{ slider.description }}</p>
    
                                {% if slider.has_button %}
                                    <a href="{{ slider.button_link }}" class="btn">
                                        {{ slider.button_text }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </div>
        </div>
    </section>    
    <section class="popular-categories section-padding">
        <div class="container wow animate__animated animate__fadeIn">
            <div class="section-title">
                <div class="title">
                    <h3>Categorías</h3>
                </div>
                <div class="slider-arrow slider-arrow-2 flex-right carausel-10-columns-arrow" id="carausel-10-columns-arrows"></div>
            </div>
            <div class="carausel-10-columns-cover position-relative">
                <div class="carausel-10-columns" id="carausel-10-columns">
                    {% for category in categories %}
                        <div class="card-2 bg-9 wow animate__animated animate__fadeInUp" data-wow-delay=".{{ forloop.counter }}s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="javascript:;">
                                    <img style="width: 80px; height: 80px; object-fit: cover;" src="{{ category.image.url }}" alt="{{ category.title }}" />
                                </a>
                            </figure>
                            <h6><a href="javascript:;">{{ category.title }}</a></h6>
                        </div>
                    {% endfor %}
                </div>
            </div>            
        </div>
    </section>
    <section class="product-tabs section-padding position-relative">
        <div class="container">
            <div class="section-title style-2 wow animate__animated animate__fadeIn">
                <h3>Productos populares</h3>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div class="row product-grid-4">
                        {% for p in products %}
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'store:product_detail' p.slug %}">
                                                <img class="default-img" style="width: 250px; height: 250px; object-fit: cover;" src="{{p.image.url}}" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Agregar a favoritos" class="action-btn add_to_wishlist" data-product_id="{{p.id}}" href="#">
                                                <i class="fi-rs-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="javascript:;">{{p.category.title}}</a>
                                        </div>
                                        <h2 class="product-title"><a href="{% url 'store:product_detail' p.slug %}">{{p.name}}</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                {% if p.average_rating is not None %}
                                                    <div class="product-rating" style="width: {% widthratio p.average_rating 5 100 %}%"></div>
                                                {% else %}
                                                    <div class="product-rating" style="width: 0%"></div>
                                                {% endif %}
                                            </div>
                                            <span class="font-small ml-5 text-muted"> ({{ p.average_rating|floatformat:1|default:0 }})</span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>S/. {{p.price}}</span>
                                                <span class="old-price">S/. {{p.regular_price}}</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add add_to_cart" href="#" data-id="{{ p.id }}">
                                                    <i class="fi-rs-shopping-cart mr-5"></i>Cesto 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}